 <div class="main-content">
    
        <h1>Home</h1>

    <div class="subject">
        <img src="/images/money.jpg" alt="money">
        <div class="grid-item">
            <h3>The Value of Money</h3>
            <p>The value of money, then, is the quantity of goods in general that will be exchanged 
                for one unit of money.</p>
                <p>The value of money is its purchasing power, i.e., the quantity 
                of goods and services it can purchase.</p>
                <p> What money can buy depends on the level of prices.</p>
                <p>When the price level rises, a unit of money can purchase less goods than before. Money is 
                then said to have depreciated. Conversely, a fall in prices signifies that a unit of money can
                buy more than before.</p>
            <p class="resource">From <a href="https://www.economicsdiscussion.net/money/value-of-money-meaning-measurement-and-preparation-of-index-numbers/1863">economicdiscussion.com</a></p>
        </div>
    </div>

    <div class="subject">
        <img src="./images/food.jpg" alt="food">
        <div class="grid-item">
            <h3>GMO food</h3>
            <p>Genetically modified (GM) foods are foods derived from organisms whose genetic 
               material (DNA) has been modified in a way that does not occur naturally, e.g. through 
               the introduction of a gene from a different organism. The technology is often called “modern biotechnology” 
               or “gene technology”, sometimes also “recombinant DNA technology” or “genetic engineering”. Currently available 
               GM foods stem mostly from plants, but in the future foods derived from GM microorganisms or GM animals are likely 
               to be introduced on the market. </p>

            <p>In the future, genetic modification could be aimed at altering the nutrient content of food, reducing its allergenic potential or improving the efficiency of food production systems.
               All GM foods should be assessed before being allowed on the market. 
               FAO/WHO Codex guidelines exist for risk analysis of GM food. </p>    
            <p class="resource">From <a href="https://www.who.int/health-topics/food-genetically-modified#tab=tab_1">WHO</a></p>
        </div>
    </div>

    <div class="subject">
        <img src="./images/view.jpg" alt="space">
        <div class="grid-item">
            <h3>The View of World in 2100</h3>
            <p>
                <br>Get ready for another 4 billion people by 2100.</br> 
                <br>That growth is mostly coming from one continent -- Africa.</br> 
                <br>Nigeria will soon become the world's third most populous country. </br>
                <br>India will surpass China -- soon. </br>
                <br>Europe is getting really old.</br>
                
            </p>
            <p class="resource">From <a href="https://www.washingtonpost.com/news/wonk/wp/2015/08/17/5-ways-the-world-will-look-dramatically-different-in-2100/">Washington Post</a></p>
        </div>
    </div>

    
</div>

