<html>
    <body>

<div class="main-content">

    <h1>Portfolio</h1>

    <div class="flexbox">
    
        <div class="card">
            <img src="../images/bottles.jpg" alt="GMO food">
            <figcaption>
                GMO food
            </figcaption>
        </div>

        <div class="card">
            <img src="../images/grapes.jpg" alt=" GMO food">
            <figcaption>
                GMO food
            </figcaption>
        </div>

        <div class="card">
            <img src="../images/notes.jpg" alt="money">
            <figcaption>
                Money
            </figcaption>
         </div>

        <div class="card">
            <img src="../images/coins.jpg" alt="money">
            <figcaption>
                Money
            </figcaption>
        </div>

        <div class="card">
            <img src="../images/view-sunset.jpg" alt="world view">
            <figcaption>
                World view in 2100
            </figcaption>
        </div>

        <div class="card">
            <img src="../images/city-view.jpg" alt="world view">
            <figcaption>
                World view in 2100
            </figcaption>
        </div>

    </div>
    
</div>

    </body>
</html>